<h1>OSDC 2023.01 Public</h1>
<h2>Mentors</h2>
<ul>
{% for person in mentors %}
    <li>{{ person['name'] }}<br>
    GitHub: <a href="https://github.com/{{ person['github'] }}">{{ person['github'] }}</a><br>
    </li>
{% endfor %}
</ul>

<h2>Participants</h2>
<ul>
{% for person in participants %}
    <li>{{ person['name'] }}<br>
    GitHub: <a href="https://github.com/{{ person['github'] }}">{{ person['github'] }}</a><br>
    {% if person['linkedin'] %}
        LinkedIn <a href="https://linkedin.com/in/{{ person['linkedin'] }}">{{ person['name'] }}</a><br>
    {% endif %}

    {% if person['posts'] %}
        <ul>
        {% for post in person['posts'] %}
            <li><a href="{{post['url']}}">post</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    </li>
{% endfor %}
</ul>

