{% include 'header.html' %}

<h1 class="title">{{title}}</h1>

Start date: {{course.start_date}}<br>
{% if course.end_date %}
  End date: {{course.end_date}}<br>
{% endif %}
Number of participants: {{ participants | count }}<br>

<h2 class="title">Participants</h2>

{% for person in participants %}
    <a href="p/{{person.github.lower()}}"><img width="60px" src="{{person.gh.avatar_url}}" title="{{person.name}}" alt="{{person.name}}"></a>
{% endfor %}

<h2 class="title">Mentors</h2>
{% for person in mentors %}
    <a href="p/{{person.github.lower()}}"><img width="60px" src="{{person.gh.avatar_url}}" title="{{person.name}}" alt="{{person.name}}"></a>
{% endfor %}


{% include 'footer.html' %}
