<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/{{course.id}}/">
        Home
      </a>

      <a class="navbar-item" href="/{{course.id}}/articles">
        Articles
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Participants
        </a>

        <div class="navbar-dropdown">
          {% for person in participants %}
          <a class="navbar-item" href="/{{course.id}}/p/{{ person.github.lower() }}">
            {{ person.name }}
          </a>
          {% endfor %}
          <hr class="navbar-divider">
          {% for person in mentors %}
          <a class="navbar-item" href="/{{course.id}}/p/{{ person.github.lower() }}">
            {{ person.name }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</nav>


